@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: light;
  }

  html.dark {
    color-scheme: dark;
  }

  * {
    @apply border-light-border dark:border-dark-border;
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-white dark:bg-dark-bg text-dark-bg dark:text-dark-text;
  }
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

